@use "../../../styles" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $s-8;
  width: 100%;
  position: relative;

  &.mosaic {
    .subtitle {
      text-transform: uppercase;
    }
  }
}

.image {
  aspect-ratio: 3 / 4;
  position: relative;
  overflow: hidden;
  background-color: $c-surface;
  width: 100%;

  .mosaic & {
    aspect-ratio: 3 / 2;
  }

  @include md {
    &.ratio-3-2 {
      aspect-ratio: 3 / 2;
    }

    &.ratio-3-4 {
      aspect-ratio: 3 / 4;
    }

    &.ratio-13-9 {
      aspect-ratio: 13 / 9;
    }
  }

  .mosaic & {
    :global([data-asset]),
    :global(img),
    :global(video) {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover,
  &:focus-visible {
    > * {
      transform: scale(1.02);
    }
  }

  > * {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.content-wrapper {
  position: relative;
  padding-block: $s-16;
  flex-shrink: 0;

  &::before {
    content: "";
    display: block;
    @include hover-circle-dot;
    position: absolute;
    inset-inline-start: 0;
    top: $s-24;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $s-8;
  padding-inline-end: $s-24;
  @include hover-text-shift;

  .title {
    @include t-body;
  }

  .subtitle {
    @include t-note;
  }
}

.wrapper {
  @include md {
    &:hover,
    &:focus-visible {
      .content-wrapper::before {
        transform: scale(1);
        opacity: 1;
      }

      .content {
        transform: translateX($s-16);
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $s-8;
  position: absolute;
  z-index: 1;
  top: $s-16;
  inset-inline-start: $s-16;
}
