// ============================================
// BANNERACCORDION COMPONENT
// ============================================

@use "../../../styles" as *;

.wrapper {
  position: relative;
  z-index: 2;
  min-height: 100dvh;
  overflow: clip;
  background-color: $c-black;
  isolation: isolate;

  .container {
    position: relative;
    min-height: 100dvh;
  }

  .image {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .content-position {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    pointer-events: none;

    > .content {
      pointer-events: auto;
    }

    height: calc(208px + 80px);

    @include md {
      height: calc(208px + 128px);
    }
  }

  .content {
    @include container-lg;
    max-width: none;
    position: absolute;
    display: flex;
    align-items: baseline;
    gap: $s-16;
    width: fit-content;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }
}
