@use "../../../styles" as *;

.wrapper {
  background-color: $c-white;
  position: relative;
  overflow: clip;
}

.head-container {
  @include container-lg;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: $s-80 $s-64;
}

.head {
  display: flex;
  flex-direction: column;
  gap: $s-16;

  @include md {
    width: 50%;
    gap: $s-24;
    padding-inline-start: $s-8;
  }

  .title {
    @include t-h2;
  }
}
