@use "../../../styles" as *;

.wrapper {
  background-color: $c-white;
  color: $c-black;

  position: relative;
  overflow: hidden;
}

.container {
  @include container-md;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $s-24;

  @include lg {
    gap: $s-40;
  }
}

.text,
.text span {
  will-change: color;
  @include t-h2;
}

.word {
  display: inline;
}

.char {
  display: inline;
  will-change: color, opacity;
}

.links {
  will-change: opacity, transform;
}
