@use "../../../styles/" as *;

.wrapper {
  position: relative;
  color: $c-white;

  --padding-block: #{$s-24};

  @include lg {
    --padding-block: #{$s-64};
  }

  .title {
    @include t-h1;
    @include fluid-type-max-width(900px, h1);
    position: absolute;
    bottom: $s-64;
    width: 100%;
    inset-inline-start: 0;
    inset-inline-end: $s-64;
    padding-inline: $s-24 $s-64;

    @include lg {
      padding-inline-start: $s-40;
    }

    z-index: 2;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font: inherit;
      letter-spacing: inherit;
      line-height: inherit;
      color: inherit;
    }

    strong,
    em {
      font: inherit;
    }
  }

  &.full {
    height: 100svh;

    .container {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }

    .asset-wrapper {
      position: absolute;
      inset: 0;
      overflow: hidden;
      z-index: 0;

      > :global(*) {
        inset: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0;
      }

      img,
      video {
        will-change: transform;
      }
    }

    .content {
      position: relative;
      z-index: 1;
      height: 100svh;
      pointer-events: none;
    }

    .title {
      pointer-events: auto;
    }

    :global([data-video-controls]) {
      z-index: 2;
      pointer-events: auto;
    }
  }

  &.padding {
    @include container-lg;
    @include mobile {
      padding-block: var(--padding-block);
    }

    height: 100svh;

    .container {
      position: relative;
      height: 100%;
      padding: 0;
      overflow: clip;
    }
    .asset-wrapper {
      inset: 0;
      position: absolute;
      overflow: hidden;

      > :global(*) {
        inset: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        top: 0;
      }

      img,
      video {
        will-change: transform;
      }
    }

    :global([data-video-controls]) {
      z-index: 2;
    }
  }
}
