// ============================================
// ICON COMPONENT - LOGO VARIANTS
// ============================================

@use "../../../styles" as *;

.logoVariantWhiteRed {
  color: $c-white;

  :global(.logo-dot) {
    fill: $c-alert;
  }
}

.logoVariantWhiteWhite {
  color: $c-white;

  :global(.logo-dot) {
    fill: $c-white;
  }
}

.logoVariantPrimaryPrimary {
  color: $c-primary;

  :global(.logo-dot) {
    fill: $c-primary;
  }
}

.logoVariantBlackRed {
  color: $c-black;

  :global(.logo-dot) {
    fill: $c-alert;
  }
}

.logoVariantBlackBlack {
  color: $c-black;

  :global(.logo-dot) {
    fill: $c-black;
  }
}

.logoVariantPrimaryRed {
  color: $c-primary;

  :global(.logo-dot) {
    fill: $c-alert;
  }
}

.pest {
  display: block;
  flex-shrink: 0;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
