// ============================================
// ASSET COMPONENT (Image & Video)
// ============================================

@use "../../../styles" as *;

.asset-image-wrapper {
  position: absolute;
  inset: 0;

  &.assetHasOverlay {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $c-black;
      opacity: 0.25;
      z-index: 1;
      pointer-events: none;
    }
  }
}

.asset-image-wrapper,
.asset-video-wrapper {
  img,
  video {
    display: block;
  }
}

.asset-video-wrapper {
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: clip;

  &.assetHasOverlay {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $c-black;
      opacity: 0.25;
      z-index: 1;
      pointer-events: none;
    }
  }
}

.asset-video {
  // Stili specifici per video
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.asset-video-control {
  position: absolute;
  inset-inline-end: $s-16;
  inset-block-end: $s-16;
  z-index: 10;

  @include lg {
    inset-inline-end: $s-24;
    inset-block-end: $s-24;
  }

  background-color: rgba(white, 0.8) !important;
  backdrop-filter: blur(10px);

  &:hover {
    background-color: rgba($c-white, 1) !important;
  }
}
