@use "../../../styles" as *;

.hero-text {
  @include container-narrow;
  padding-top: 5.625rem;
  padding-bottom: $s-40;

  @include lg {
    padding-top: 13.5rem;
    padding-bottom: $s-80;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: $s-24;
}

.tags {
  display: flex;
  gap: $s-8;
}

.title {
  @include t-h1;
  margin: 0;
}

.info {
  @include t-body;
  margin-top: $s-16;
  display: flex;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background-color: $c-primary;
      margin-inline: $s-12;
      flex-shrink: 0;
    }
  }
}

.lead {
  @include t-h6;
  margin: 0;
}

.cta {
  @include container-narrow;
  padding-top: 0;
  padding-bottom: $s-40;

  @include lg {
    padding-bottom: $s-64;
  }
}

.carousel {
  padding-block-end: $s-40;

  @include lg {
    padding-block-end: $s-64;
  }
}
