@use "../../../styles" as *;

.wrapper {
  width: 100%;
  background-color: $c-white;

  &.dark {
    background-color: $c-black;
  }

  // Cta box adiacenti: un solo padding tra un blocco e l'altro
  &[data-cta-box] + [data-cta-box] {
    .container {
      padding-top: 0;
    }
  }
}

.container {
  @include container-lg;
  padding-block: $s-64;
  display: flex;
  flex-direction: column;
  gap: $s-16;

  // Riferimento per le unità container query usate nelle card
  // in modo da poter calcolare la larghezza del testo in stato chiuso.
  container-type: inline-size;

  @include md {
    flex-direction: row;

    > * {
      flex-basis: 100%;
      transition: flex-basis 0.5s $ease-out;
      min-width: 0;

      &:hover,
      &:focus-visible {
        flex-basis: 133%;
      }
    }
  }
}
