@use "../styles" as *;

.container {
  min-height: 100svh;
  background-color: $c-primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include t-huge;
  color: $c-white;
  margin: 0;
}
