@use "../../../styles" as *;

// ==============================================
// Wrapper
// ==============================================
.wrapper {
  width: 100%;
  background-color: $c-white;
  overflow: clip;
}

// ==============================================
// Container
// ==============================================
.container {
  @include container-lg;
}

// ==============================================
// Header
// ==============================================
.head {
  margin-bottom: $s-32;
  display: flex;
  justify-content: space-between;

  @include md {
    margin-bottom: $s-48;
  }
}

.title {
  @include t-h3;
}

// ==============================================
// Slideshow
// ==============================================
.slideshow-wrapper {
  position: relative;
  width: 100%;
}

.swiper {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  height: auto;
  display: flex;
}

// ==============================================
// Card
// ==============================================
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $c-surface;

  overflow: hidden;
  transition:
    transform $td-300 ease,
    box-shadow $td-300 ease;

  &:hover {
    --button-hover: 1;
  }

  @include md {
    min-height: 32rem;
    &:hover {
      transform: translateY(-$s-4);
      box-shadow: 0 $s-8 $s-24 rgba($c-black, 0.1);
    }

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;

  @include md {
    aspect-ratio: auto;
    grid-column: 1 / 8;
  }
}

.card-text {
  padding: $s-16;
  @include t-h6;
  display: flex;
  flex-direction: column;
  gap: $s-16;

  @include md {
    gap: $s-24;
    padding: $s-64;
    grid-column: 8 / 13;
    margin-block: auto;
  }
}

.buttons-wrapper {
  display: flex;
  gap: $s-8;
  height: fit-content;

  @include md {
    justify-self: flex-end;
  }

  button {
    background-color: $c-surface;

    &[disabled] {
      opacity: 0.5;
      cursor: default;
      pointer-events: none;
    }

    svg {
      width: $s-24;
      height: $s-24;
    }
  }
}
