// ============================================
// BUTTON COMPONENT
// ============================================

@use "../../../styles" as *;

.button {
  @include flex-center;
  border-radius: 9999px;
  cursor: pointer;
  @include transition(all, $td-300);
  @include t-note;
  width: fit-content;
  --button-background-color: #{$c-primary};
  --button-color: #{$c-white};

  background-color: var(--button-background-color);
  color: var(--button-color);

  // Variants
  &Primary {
  }

  &Secondary {
    --button-background-color: #{$c-black};
    --button-color: #{$c-white};
  }

  &Tertiary {
    --button-background-color: #{$c-white};
    --button-color: #{$c-black};
  }

  // Icon only
  &IconOnly {
    &.buttonSizeSmall {
      width: $s-24;
      height: $s-24;
    }
    &.buttonSizeMedium {
      width: $s-32;
      height: $s-32;
    }

    justify-content: center;

    &.buttonPrimary:hover {
      --button-background-color: #{$c-black};
      --button-color: #{$c-white};
      transition: all 400ms $ease-natural;
    }
  }

  // With label
  &WithLabel {
    padding: 0.5rem 0.75rem;
  }

  // With icon and label
  &WithIcon {
    gap: 0.5rem;

    .buttonIcon {
      width: 1.125rem;
      height: 1.125rem;
      @include flex-center;
      background-color: var(--button-color);
      color: var(--button-background-color);
      border-radius: 9999px;
      overflow: hidden;
      transition: all 300ms $ease-smooth;

      @include md {
        transform: scale(0.3333);

        svg {
          transition: all 200ms $ease-smooth 0.1s;
          opacity: 0;
        }
      }
    }

    &:hover {
      @include md {
        .buttonIcon {
          transform: scale(1);
        }

        svg {
          opacity: 1;
          transition: all 200ms $ease-smooth;
        }
      }
    }
  }
}
