@use "../../../styles" as *;

.wrapper {
  @include container-md;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $s-40;

  @include lg {
    gap: $s-80;
  }
}

.title {
  @include t-h3;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $s-40;

  @include lg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $s-64;
    align-items: start;
  }
}

.asset {
  @include lg {
    position: sticky;
    top: var(--sticky-top, var(--header-height, 4.25rem));
    width: 100%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: $s-8;
}
