@use "../../../styles" as *;

.wrapper {
  @include container-lg;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: $s-40;

  @include lg {
    gap: $s-16;
  }
}

.group {
  display: flex;
  flex-direction: column;
  gap: $s-16;
  scroll-margin-top: calc(var(--header-height) + #{$s-24});

  @include lg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $s-16;
    row-gap: $s-16;
    align-items: start;
  }
}

.groupLetter {
  @include t-h3;
  margin: 0;
  position: sticky;
  top: calc(var(--sticky-top) + #{$s-40});
  z-index: 2;
  width: 100%;
  background-color: $c-white;
  align-self: start;
  overflow: visible;
  transition: top 300ms ease;

  @include untilLg {
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset-inline: 0;
      background-color: $c-white;
    }

    &::before {
      bottom: 100%;
      height: $s-40;
    }

    &::after {
      top: 100%;
      height: $s-16;
    }
  }

  @include lg {
    @include t-h2;
    line-height: 1;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: $s-16;
}
